root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true # 是否自动删除尾行空格
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false
